option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:server
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /assets: assets
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: sg-xxxxxxxxx
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_install_dependencies:
    command: "pip install -r requirements.txt"
  03_migrate:
    command: "echo 'No migrations needed'"
  04_collectstatic:
    command: "echo 'No static files to collect'" 